[submodule "base16/base16-shell"]
	path = .include/base16/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule ".include/antigen"]
	path = .include/antigen
	url = https://github.com/zsh-users/antigen
[submodule "vim/.vim/pack/plugins/start/bat.vim"]
	path = vim/.vim/pack/plugins/start/bat.vim
	url = https://github.com/jamespwilliams/bat.vim
[submodule "nvim/.config/nvim/site/pack/plugins/start/bat.vim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/bat.vim
	url = https://github.com/jamespwilliams/bat.vim.git
[submodule "nvim/.config/nvim/site/pack/plugins/start/fzf.vim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "nvim/.config/nvim/site/pack/plugins/start/nginx.vim"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/nginx.vim
	url = https://github.com/chr4/nginx.vim.git
[submodule "nvim/.config/nvim/site/pack/plugins/start/nvim-treesitter"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim/.config/nvim/site/pack/plugins/start/vim-puppet"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/vim-puppet
	url = https://github.com/rodjek/vim-puppet
[submodule "nvim/.config/nvim/site/pack/plugins/start/vim-slime"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "nvim/.local/share/nvim/site/pack/plugins/start/nvim-lspconfig"]
	path = nvim/.local/share/nvim/site/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
